h1 {
  background-color: #13293D;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  padding-top: 20px;
  length: 3px;
  float: left;
  width: 1110px;
  position: fixed;
  font-size: 35px;
  height: 90px;
}

th {
  display: inline-block
  color: white;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 20px;
  position: fixed;
}

#home{
  left: 850px;
  bottom: 945px;
}
#history{
  left: 950px;
  bottom: 945px;
}
#functions{
  left: 1050px;
  bottom: 945px;
}
#others{
  left: 1150px;
  bottom: 945px;
}
#about{
  left: 1250px;
  bottom: 945px;
}
#resources{
  left: 1350px;
  bottom: 945px;
}
th a {
  color: #DDDDDD;
}

th a:hover {
  color: white;
}

#top {
  background-color: #13293D;
}

table {
  border-collapse: separate;
  border-spacing: 4px;
  background-color: #13293D;
  position: relative;
}
