h1 {
  background-color: #13293D;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  padding-top: 20px
}

th {
  display: inline-block
  color: white;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 20px;
}

th a {
  color: #DDDDDD;
}

th a:hover {
  color: white;
}

#top {
  background-color: #13293D;
}

table {
  border-collapse: separate;
  border-spacing: 4px;
}
