/* Sets specifc margin for larger screens so that #bodycontent isn't overlapped by navigation bar. */
@media screen and (min-width: 1610px) {
  body {
    background-color: #006494;
    margin-top: 60px
  }
}

/* Sets specifc margin for smaller screens so that #bodycontent isn't overlapped by navigation bar. */
@media screen and (max-width: 1610px) {
  body {
    background-color: #006494;
    margin-top: 120px;
    height: 100%;
  }
}

.container{
  height: 100%;
}

#bodycontent {
  background-color: #BBBBBB;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  padding: 50px;
  height: 100%
}

img {
  display: block;
  margin: 0 auto;
}

#site-counter {
  display: inline-block;
}

#ram-img {
  margin-bottom: 20px;
}

iframe {
  display: block;
  margin: auto;
  width: 420px;
  height: 315px;
}

#jk {
  float: center;
}

#octal-table td {
  text-align: right;
  padding: 4px;
}
