h1 {
  background-color: #13293D;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  padding-top: 20px;
  width: ;
  length: 3px;
  position: relative;

}

th {
  display: inline-block
  color: white;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 20px;
  width: 154px;
}

#home{
  left: 550px;
  bottom: 875px;
}
#history{
  left: 700px;
  bottom: 875px;
}
#functions{
  left: 850px;
  bottom: 875px;
}
#others{
  left: 1000px;
  bottom: 875px;
}
#about{
  left: 1150px;
  bottom: 875px;
}
#resources{
  left: 1300px;
  bottom: 875px;
}
th a {
  color: #DDDDDD;
}

th a:hover {
  color: white;
}

#top {
  background-color: #13293D;
}

table {
  border-collapse: separate;
  border-spacing: 4px;
  background-color: #13293D;
  position: fixed;
}
