/* Sets specifc margin for larger screens so that #bodycontent isn't overlapped by navigation bar. */
body {
  background-color: #006494;
  margin-top: 60px
}

.container{
  height: 100%;
}

#bodycontent {
  background-color: #BBBBBB;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  padding: 50px;
  height: 100%
}

img {
  display: block;
  margin: 0 auto;
}

#site-counter {
  display: inline-block;
  width: 50px
}

#ram-img {
  margin-bottom: 20px;
}

iframe {
  display: block;
  margin: auto;
  width: 420px;
  height: 315px;
}

#jk {
  float: center;
}

#octal-table td {
  text-align: right;
  padding: 4px;
}
